﻿@model assignment_7.Models.ClientProfileModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="container">
        <div class="text-justify">
            
            @using (Html.BeginForm("Clients","Home", FormMethod.Post)){
                <h2 class="text-center" text-color:red;>User Information</h2>
                    <br>
                    
                  <p>First Name</p>
                @Html.TextBox("f_name", null, new { @class = "form-control mt-2", @placeholder = "First name" })
                @Html.ValidationMessageFor(model=>model.f_name, "", new{ @class ="text-danger"})
                  <br>
                  <p>Last Name</p>
                @Html.TextBox("l_name", null, new { @class = "form-control mt-2", @placeholder = "Last name" })
                @Html.ValidationMessageFor(model=>model.l_name, "", new{ @class ="text-danger"})
                  <br>
                  <p>Middle Name</p>
                @Html.TextBox("m_name", null, new { @class = "form-control mt-2", @placeholder = "Middle name" })
                @Html.ValidationMessageFor(model=>model.m_name, "", new{ @class ="text-danger"})
                  <br>
                  <p>Age</p>
                @Html.TextBox("age", null, new { @class = "form-control mt-2", @placeholder = "Age" })
                @Html.ValidationMessageFor(model=>model.age, "", new{ @class ="text-danger"})
                <div class="form-check, float-left"  >
                    <br>
                    <p>Gender and Address</p>
                    Male:   @Html.RadioButton("Gender", "Male")
                    Female: @Html.RadioButton("Gender", "Female")
                </div>
                
                @Html.TextArea("address", null, new { @class = "form-control mt-2", @placeholder = "Address" })
                @Html.ValidationMessageFor(model=>model.address, "", new{ @class ="text-danger"})
                <br>
                <center><button class="text-center" type="submit">Register</button></center>
           }
           
        </div>
    </div>
    
</div>
@section Scripts{
  @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

