﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="container">
        <div class="text-justify">
            
            @using (Html.BeginForm("Profile","Home", FormMethod.Post)){
                <h1 class="m-2, center">Registration Form</h1>
                    <br>
                  <h5>Enter First Name</h5>
                  
                @Html.TextBox("FName", null, new { @class = "form-control mt-2", @placeholder = "First name" })
                  <br>
                  <h5>Enter Last Name</h5>
                @Html.TextBox("LName", null, new { @class = "form-control mt-2", @placeholder = "Last name" })
                  <br>
                  <h5>Enter Middle Name</h5>
                @Html.TextBox("MName", null, new { @class = "form-control mt-2", @placeholder = "Middle name" })
                  <br>
                  <h5>Enter Age</h5>
                @Html.TextBox("Age", null, new { @class = "form-control mt-2", @placeholder = "Age" })
                <div class="form-check, float-left"  >
                    <br>
                    <h5>Enter Gender and Address</h5>
                    Male:   @Html.RadioButton("Gender", "Male")
                    Female: @Html.RadioButton("Gender", "Female")
                </div>
                
                @Html.TextArea("Address", null, new { @class = "form-control mt-2", @placeholder = "Address" })
                <br>
                <button type="submit" class="btn btn-secondary mt-1">Register</button>
           }
           
        </div>
    </div>
    
</div>

