@model ass7.Models.UserProfileModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <div class="row">
            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
            {
                <h1 class="m-2">Login Form</h1>
                @Html.TextBox("Email", null, new { @class = "form-control mt-2", @placeholder = "Email"})
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                @Html.TextBox("Password", null, new { @class = "form-control mt-2", @placeholder = "Password", @type = "password" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })


                <button type="submit" class="btn btn-primary mt-2">Login</button>
            }
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Register</a>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
