<!DOCTYPE html>
<html lang="en" >
<head>
  
  <meta charset="UTF-8">
  <title>CALCULATOR USING VUEJS</title>
  
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
  <link rel="stylesheet" href="css/style.css">
  <style>
 
  body {
    margin-top: 50px;
    height: 100vh;
    display: flex;
    font-size: 10px;
    align-items: flex-start;
    background-color:powderblue;
  }

  #calculator {
    height: -200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 20px;
    max-width: 320px;
    min-width: 320px;
    flex-direction: column;
    background-color: pink;
    border-radius: 30px;
  }

    .calculator-logs {
      height: 80px;
      display: flex;
      position: relative;
      overflow: hidden;
      align-items: flex-end;
      flex-direction: column;
      justify-content: flex-end;
    }
      .calculator-logs:before {
        top: 0;
        left: 0;
        right: 0;
        height: 48px;
        content: '';
        z-index: 5;
        position: absolute;     
      }

    .calculator-input {
      border-radius: 10px;
      margin-bottom: 10px;
      color:black;
      width: 100%;
      border: none;
      display: block;
      font-size: 2.4rem;
      background:white;
      text-align: right;
      font-weight: lighter;
      
    }
      .calculator-input:focus, .calculator-input:active {
        outline: none;
      }

    .calculator-row {
      display: flex;
      padding: 0;
      justify-content: space-around;
    }
      .calculator-col {
        flex: 1;
        box-shadow: 0 0 0 1px;
    }

    .calculator-btn {
      padding: 10px;
      border-style: solid;
      width: 100%;
      color: white;
      border: none;
      cursor: pointer;
      padding: .8rem;
      outline: none;
      font-size: 1.7rem;
      transition: all .3s ease-in-out;
      font-weight: 200;
      justify-content: center;
      background-color:darkslategray;
      border-radius: 10px;
    }
      .calculator-btn:active {
        background-color: #2f2f31;
      }
  </style>
 
</head>

<body>


<div id="calculator">

  <div class="calculator-logs">
    <span v-for="log in logs">{{ log }}</span>
  </div>

  <input type="string" class="calculator-input" v-model="value" @keyup.enter="getResult()">

  <div class="calculator-row">
    <div class="calculator-col">
      <button class="calculator-btn gray action" @click="del()">DEL</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn gray action" @click="clear()">C</button>
    </div>
    
    <div class="calculator-col">
      <button class="calculator-btn accent action" @click="addExpresion('/')">/</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn gray action" @click="addExpresion('%')">%</button>
    </div>
  </div>
  <div class="calculator-row">
    <div class="calculator-col">
      <button class="calculator-btn" @click="addExpresion(7)">7</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn" @click="addExpresion(8)">8</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn" @click="addExpresion(9)">9</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn accent action" @click="addExpresion('*')">*</button>
    </div>
  </div>
  <div class="calculator-row">
    <div class="calculator-col">
      <button class="calculator-btn" @click="addExpresion(4)">4</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn" @click="addExpresion(5)">5</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn" @click="addExpresion(6)">6</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn accent action" @click="addExpresion('-')">-</button>
    </div>
  </div>
  <div class="calculator-row">
    <div class="calculator-col">
      <button class="calculator-btn" @click="addExpresion(1)">1</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn" @click="addExpresion(2)">2</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn" @click="addExpresion(3)">3</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn accent action" @click="addExpresion('+')">+</button>
    </div>
  </div>
  <div class="calculator-row">
    <div class="calculator-col wide">
      <button class="calculator-btn" @click="addExpresion(0)">0</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn action" @click="addExpresion('.')">.</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn accent action" @click="getResult()">=</button>
    </div>
  </div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.min.js'></script>
  <script  src="js/index.js"></script>
  <script>
    new Vue({
    el: '#calculator',
    data: {
        value: 0,
        logs: []
    },
    methods: {
        addExpresion: function (e) {
            if (Number.isInteger(this.value))
                this.value = '';
            this.value += e;
        },
        getResult: function () {
            var log = this.value;
            this.value = eval(this.value);
            this.logs.push(log + ("=" + this.value));
        },
        clear: function () {
            this.value = 0;
        },
        del: function () {
            this.value = this.value.slice(0, -1);
        }
    }
});
  </script>



</body>

</html>
